.navbar{
    height: 70px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color:antiquewhite;
    background-color:rgb(31, 31, 134) ;
}
a{
    text-decoration: none;
  color: antiquewhite;
}
b{
    margin-right: 5px;
}
.Welcome{
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding: 100px;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
}
.buton{
    background-color:rgb(31, 31, 134) ;
}
.box{
    display:flex;
    flex-direction: row;
}
.cardbox{
    
    height:280px;
    width:280px;
    object-fit: scale-down;
}
.cardbox img{
    height:180px;
    width:280px;
}
.cart{
    float:right;
    height: 50px;
    width:50px;
    background-color: blue;
    color:rgb(113, 240, 50);
}
.box2{
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 7%;
    box-sizing: border-box;
    background-color: rgb(233, 230, 230);
}